/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#f5f7fa;
    color:#333;
    line-height:1.6;
}

/* Navigation */

header{
    background:#0f172a;
    color:white;
    padding:18px 60px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    font-size:28px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

/* Hero */

.hero{
    text-align:center;
    padding:120px 20px;
    background:linear-gradient(135deg,#2563eb,#7c3aed);
    color:white;
}

.hero h1{
    font-size:52px;
}

.hero span{
    color:#facc15;
}

.hero h3{
    margin-top:15px;
    font-size:26px;
}

.hero p{
    width:70%;
    margin:20px auto;
}

/* Button */

.btn{
    display:inline-block;
    margin-top:20px;
    background:white;
    color:#2563eb;
    padding:12px 28px;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#facc15;
    color:black;
}

/* Common Section */

section{
    padding:70px 10%;
}

section h2{
    text-align:center;
    margin-bottom:35px;
    font-size:36px;
    color:#2563eb;
}

/* About */

.about p{
    max-width:900px;
    margin:auto;
    text-align:center;
}

/* Skills */

#skills ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    list-style:none;
}

#skills li{
    background:#2563eb;
    color:white;
    padding:12px 20px;
    border-radius:8px;
}

/* Education */

#education article{
    background:white;
    margin:20px auto;
    padding:25px;
    max-width:700px;
    border-radius:10px;
    box-shadow:0 5px 12px rgba(0,0,0,.1);
}

#education h3{
    color:#2563eb;
}

/* Contact */

form{
    max-width:650px;
    margin:auto;
}

input,
textarea{
    width:100%;
    padding:14px;
    margin:10px 0 20px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}

/* Footer */

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:40px;
}